
.content {
    margin: 0 auto;
}

.header {
    width: 700px;
    position: relative;
    margin-top: 5px;
    margin: 0 auto;
    border-top: 10px dotted #1098ad;
    border-bottom: 2px solid #000;
}

.for-yourself {
    border: 2px solid #333;
    border-radius: 26px;
    margin-top: 15px;
    width: 650px;
    height: 200px;
    margin-left:auto;
    margin-right: auto;
    padding: 5px 10px;
    
    
}
.for-yourself .style-button-for-yourself {
    padding-left: 550px;
    padding-top: 100px;
    display: inline;

}



.position-image img {
    width: 100px;
    position: absolute;
    top: 200px;
    left: 900px;
}

.for-friends {
    border: 2px solid #333;
    border-radius: 26px;
    margin-top: 15px;
    width: 650px;
    height: 200px;
    margin-left:auto;
    margin-right: auto;
    padding: 5px 10px;
    
}

.for-friends h2 {
    padding-left: 300px;
}

.for-friends p {
    padding-left: 300px;
}

.position-image-themselves img {
    width: 150px;
    position: absolute;
    top: 375px;
    left: 450px;
}